GOOGLE_EMAIL=danishnotion2026@gmail.com
GOOGLE_PASSWORD=
GOOGLE_TOTP_SECRET=

NOTION_START_URL=https://www.notion.so/Getting-Started-36782406b101807e9155e4d448b729c4?source=copy_link
NOTION_WORKSPACE_ID=c3050e2d-7206-817f-bed8-00038848f12a

HEADLESS=false
